.list-product{
    width: 50%;
    height: 500px;
    background-color: #af2525;
    color: #f0eff3;
    text-align: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
}
.create-product{
    width: 50%;
    height: 500px;
    text-align: center;
    color: #f2ecec;
    background-color: #5845ef;
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
}